INPUT_DATA_FILENAME=/data/eoneil/mycstore/tpch/dbgen/scale10/final/wosrosplay/D6.data.ros
INPUT_DATA_COLUMN_INDEX=1
INPUT_DATA_SORTED(TRUE:1, FALSE=0)=1
OUTPUT_DATA_FILENAME=MyD1_l_shipdate.ros
OUTPUT_SPLIT_ON_VALUE(TRUE:1, FALSE=0)=0
FORCE_REBUILD=1
COLUMN_DATA_TYPE(INTEGER:1, FLOAT:2, STRING:3, STAR:4)=1
COMPRESSION_TYPE(UNCOMPRESSED:0, RLE:1)=1
COLUMN_INDEX=0
STORAGE_KEY_COLUMN(TRUE:1, FALSE:0)=1
BUFFER_SIZE_IN_BITS=520000
VALUE_SIZE=16
START_POSITION=27
REPETITION_SIZE=16
NUMBER_INDICES=2
PRIMARY_INDEX_ON_POSITION(TRUE:1, FALSE:0)=1
WOS_PROJECTION_NAME=/data/eoneil/mycstore/tpch/dbgen/scale10/final/wosrosplay/D6.data.wos
WOS_NUMBER_INDICES=2
WOS_NUMBER_COLUMNS=8
